/* CSS DOCUMENT*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900|Roboto:300,400,500,700,900');
@font-face {
    font-family: "Open Sans Hebrew";
    src: url("../fonts/opensanshebrew-regular.ttf");
}
@font-face {
    font-family: "Baloo";
    src: url("../fonts/Baloo-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans Hebrew";
	font-size: 20px;
	line-height: 1;
	font-weight: 400;
    width: 100%;
}

h1{
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
}
ul li{
    list-style: none;
    cursor: pointer;
}
ul li a{
    text-decoration: none;
}

.fa {
    color: #24344F !important;
}

button{
    text-align: center;
    border: none;
    border-radius: 40px;
    font: inherit;
    cursor: pointer;
}
/*HEADER*/
header{
    position: sticky;
    top: 0;
    z-index: 10;
    width: auto;
}
header.sticky .header .content{
    padding-block-start: 10px;
    padding-block-end: 10px;
    transition: 0.6s;
}
/*general*/
.content{
 
    padding-inline: 20px;
}
.header{
    background-color: #0EB75D;
}
.header .content{
    display: grid;
    grid-template-columns: 250px 1fr;
    padding-block: 10px;
    transition: .6s;
}
.header_logo img{
    width: 25px;
}
.header_navigation{
    margin: auto 0;
}
.header_navigation ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    font-size: .9em;
}
.header_navigation ul li a{
    list-style: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin: 0 5px;
}
.header_navigation li a:hover{
    color: #DFE351;
}
/*MENU*/
.menu_container{
	position: fixed;
	top: 0;
	right: -400px;
	width: 250px;
	height: 100vh;
	background: #FFF;
	z-index: 1000;
	opacity: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.menu_container_active{
	right: 0;
	opacity: 1;
}
.menu
{
	width: 100%;
	height: 100%;
}
.menu_close
{
	position: absolute;
	top: 50px;
	right: 30px;
	cursor: pointer;
}
.menu_close i
{
	font-size: 28px;
}
.menu_close:hover i
{
	color: #E0212F;
}
.menu ul
{
	padding-top: 115px;
    padding-right: 0px;
    list-style-type: none;
}
.menu ul li
{
	position: relative;
    display: block;
    text-align: right;
    animation: all 10s;
}
.menu ul li::after
{
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: -10px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background:  #1d3784;
	content: '';
}
.menu ul li.active a
{
	font-weight: 700;
}
.menu ul li a
{
	color: #004DCB;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
    position: relative;
    display: block;
    margin: 0;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 10px;
}
.menu ul li a::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 250ms ease;
    z-index: -1;
}
.menu ul li a:hover
{
	color: white;
    transition: .8s;
}
.menu ul li a:hover::before
{
    width: 100%;
    height: 100%;
    background-color: #004DCB;
    transition: width 250ms ease;
}
.hamburger_container{
    display: none;
    cursor: pointer;
    flex-basis: 40px;
    text-align: right;
    color:#FFF;
}
.hamburger_container i{
    font-size: 33px;
}
.hamburger_container i:hover
{
    color: darkred;
}

/*COVER PAGE*/
.coverPage{
    background-color: #faebeb;
}
.coverPage .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block-start: 28px;
    padding-block-end: 15px;
    gap: 45px;
}
.coverPage_img{
    margin-top: 15px;
}
.coverPage img{
    width: 90%;
}
.coverPage_info p{
    font-size: 13px;
    padding-left: 5px;
    font-weight: bold;
}
.coverPage h1{
    padding-bottom: 10px;
}
.coverPage_form h2{
    position: relative;
    color: white;
    background-color: #F10A50;
    padding: 13px 0;
    border-radius: 40px 40px 0 0;
    text-align: center;
    font-size: 20px;
}
.coverPage_form .form{
    position: relative;
    margin: auto;
    width: 350px;
    height: 320px;
}
.coverPage_form form{
    position: relative;
    padding: 20px 40px;
    background-color: #131313;
    border-radius: 0 0 40px 40px;
}
.coverPage_form .form input{
    display: block;
    width: auto;
    padding: 3px 10px;
    font-size: 1em;
    margin-bottom: 10px;
}
.coverPage_form button{
    background-color: #32A193;
    color: white;
    width: 100%;
    padding: 5px;
    margin: 10px 0;
}
.coverPage_form .form::before{
    content: '';  
    position: absolute;
    background-image: url(../images/fond-form.png);
    left: 15px;
    top: -10px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
/*BENEFITS*/

.benefits{
    position: relative;
    width: 100%;
    background: #131313;
}

.benefits::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(../images/benefits\ image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .2;
}

.benefits h1{
    padding-bottom: 35px;
}
.benefits_content{
    position: relative;
    padding-block: 28px;
}
.benefits_content_list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
    gap: 25px;
}
.benefits_content .icon{
    text-align: center;
    width: 100%;
}
.benefits p{
    color: white;
    margin-top: 16px;
    font-size: 0.7em;
}
.benefits .icon img{
    width: 70px;
    height: 70px;
}

/*BILLING*/

.billing{
    padding-block-start: 28px;
    padding-block-end: 28px;
}
.billing_content{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 30px;
}
.billing_content_info{
    margin: auto;
    font-size: 0.7em;
    padding-left: 20px;
}
.billing h1{
    color: black;
}
.billing_content ul{
    padding: 5px 0;
}
.billing_content li{
    list-style: disc;
    margin-left: 40px;
    padding: 3px 0;
}
.billing_content_info div{
    text-align: center;
}
.billing_content span{
    display: block; 
    text-align: center;
    font-size: 10px;
}
.billing_content_image{
    margin: auto;
}
.billing_content_image img{
    width: 100%;
}

/*DIGITAL PRODUCTS*/

.digitalProducts{
    padding-block-start: 15px;
    padding-block-end: 15px;
    background-color: #FBE9E9;
    background-image: url(../images/svg/productos-vector.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.digitalProducts h1{
    color: black;
}
.digitalProducts_carousel{
    margin: 20px 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.digitalProducts_carousel button{
    background-color: black;
    color: white;
    width: 200px;
    padding: 8px;
    font-size: 18px;
    font-weight: 700;
}
.digitalProducts_carousel_items{
    margin: auto;
}
.digitalProducts_carousel_items img{
    display: block;
    width: 300px;
    height: 200px;
}
.carousel {
    width: 500px;
}
.carousel img {
    width: 100%;
}

/*POINT OF SALES CONTENT*/

.pointOfSales_content{
    padding-block-start: 15px;
    padding-block-end: 15px;
    background: #131313;
}
.pointOfSales_content .content{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 150px;
}
.pointOfSales span{
    color: #BCE90A;
}
.pointOfSales h1{
    padding-bottom: 15px;
}
.pointOfSales p{
    color: white;
    font-size: 21px;
}
.pointOfSales_content_img img{
    position: relative;
    width: 330px;
    height: 350px;
    top: -200px;
}

/*POINT OF SALES CAROUSEL*/

.pointOfSalesCarousel{
    position: relative;
    background-color: #D21523;
    height: auto;
}
.pointOfSalesCarousel_content::before{
    content: '';
    position: absolute;
    height: 116%;
    width: 100%;
    background-image: url(../images/svg/Potencia-punto-ventas-vector.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: -55px;
}
.pointOfSalesCarousel_content .content{
    text-align: center;
    padding-block-start: 75px;
    padding-block-end: 50px;
    position: relative;
}
.pointOfSalesCarousel_content button {
    background-color: #32A193;
    color: white;
    width: 200px;
    padding: 8px;
    margin: 10px 0;
    font-size: 18px;
    margin-top: 20px;
}
.pointOfSalesCarousel_content_items {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pointOfSalesCarousel_content_items p {
    font-size: 12px;
    margin-top: 20px;
}
.pointOfSalesCarousel_content_items img {
    width: 130px;
    height: 130px;
}

.slick-next.slick-arrow, .slick-prev.slick-arrow {
    width: 50px !important;
}

/*FOOTER+*/

.footer{
    font-family: 'Poppins', sans-serif;
    padding-block-end: 0px;
    background-color: #131313;
}
.footer_content{
    position: relative;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 30px;
    background-color: #181F27;
    border-radius: 28px;
    padding: 20px 25px;
    color: white;
    top: -20px;
    max-inline-size: 1158px;
}
.footer_content1 p{
    font-size: 10px;
    line-height: 1.5;
}
.footer_content1_logo{
    text-align: center;
    padding-bottom: 25px;
}
.footer_content1_logo img{
    width: 70px;
}
.footer_content1_social ul{
    padding: 20px 0;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer_content1_social ul li{
    width: 30px;
}
.footer_content_copyright{
    font-size: 10px;
}
.footer_content1_social img{
    width: 30px;
    margin: 0;
    padding: 0;
}
.footer_content2_title {
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 10px;
}
.footer_content2{
    display: grid;
    grid-template-columns: 45% 45%;
}
.footer_content2 ul li{
    font-size: 10px;
    margin: 10px 0;
    line-height: 1.5;
}
.footer_content2 ul li a{
    color: #909090;
}

.footer_content2 ul li a:hover{
    color: white;
}

/**/

.under_header{
    background-color: #004DCB;
    height: 5px;
}
#map {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }



#floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #0ADE6D;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}

#floating-button2{
 
  height: 55px;
  border-radius: 0%;

  position: fixed;
  bottom: 5px;
  left:  10px;
  float: left;
  cursor: pointer;
 
}


.plus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}

#container-floating{
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 30px;
  right: 30px;
  z-index: 50px;
}

#container-floating:hover{
  height: 400px;
  width: 90px;
  padding: 30px;
}

#container-floating:hover .plus{
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}

.edit{
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
    text-align: center;
  padding: 0;
  opacity: 0;
  margin: auto;
  line-height: 55px;
  transform: rotateZ(-70deg);
  transition: all 0.3s;
  animation: edit-out 0.3s;
    font-size: 38px;
  font-family: 'Roboto';
  font-weight: 300;
   color: white;
}




#container-floating:hover .edit{
  animation: edit-in 0.2s;
   animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes edit-in{
    from {opacity: 0; transform: rotateZ(-70deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

@keyframes edit-out{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(-70deg);}
}

@keyframes plus-in{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(180deg);}
}

@keyframes plus-out{
    from {opacity: 0; transform: rotateZ(180deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

.nds{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform:  scale(0);
  cursor: pointer;
}

.nd1{
  background: #0044B5;
  right: 40px;
  bottom: 120px;
  animation-delay: 0.2s;
    animation: bounce-out-nds 0.3s linear;
  animation-fill-mode:  forwards;
}

.nd3{
  background: #3c80f6;
  right: 40px;
  bottom: 180px;
  animation-delay: 0.15s;
    animation: bounce-out-nds 0.15s linear;
  animation-fill-mode:  forwards;
}

.nd4{
  background: #ba68c8;
  right: 40px;
  bottom: 240px;
  animation-delay: 0.1s;
    animation: bounce-out-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

.nd5{
  background-image: url('https://lh3.googleusercontent.com/-X-aQXHatDQY/Uy86XLOyEdI/AAAAAAAAAF0/TBEZvkCnLVE/w140-h140-p/fb3a11ae-1fb4-4c31-b2b9-bf0cfa835c27');
  background-size: 100%;
  right: 40px;
  bottom: 300px;
  animation-delay: 0.08s;
  animation: bounce-out-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

@keyframes bounce-nds{
    from {opacity: 0;}
    to {opacity: 1; transform: scale(1);}
}

@keyframes bounce-out-nds{
    from {opacity: 1; transform: scale(1);}
    to {opacity: 0; transform: scale(0);}
}

#container-floating:hover .nds{
  
  animation: bounce-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

#container-floating:active .nds{
  
  animation: bounce-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

#container-floating:hover .nd3{
  animation-delay: 0.08s;
}
#container-floating:hover .nd4{
  animation-delay: 0.15s;
}
#container-floating:hover .nd5{
  animation-delay: 0.2s;
}

.letter{
  font-size: 23px;
  font-family: 'Roboto';
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  line-height: 40px;
}


.btn-primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}
.btn-primary {
    border-radius: 50px !important;
    background: linear-gradient(180deg, #0A60E2 0%, #191C69 100%) !important;
}
.col-form-label{
    color:#0048B4 !important;
}

.form-control{
    border-radius: 50px !important;
    border: 1px solid #1045B1 !important;
}

.modal-footer{
    display: inline !important;
}

.modal-header{
    color: #0048B4
}


.popover__title {
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: rgb(228, 68, 68);
  text-align: center;
  padding: 15px 0;
}

.popover__wrapper {
  position: relative;
  margin-top: 1.5rem;
  display: inline-block;
}
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 70px;
  left: -20px;
  transform: translate(0, 10px);
  background-color: rgba(255,255,255,0.9);
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
  border-radius: 10px;
}
.popover__content:before {
  position: absolute;
  z-index: 99999;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent rgba(255,255,255,1) transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.popover__wrapper .popover__content {
  width: 300px;
  z-index: 99999;
  opacity: 1;
  visibility: visible;
 transform: translate(-140px, -80px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
